<app-nav></app-nav>
<app-products></app-products>
<!-- <h1>componente de producto</h1>
<app-product [product]="product" *ngFor="let product of productos"></app-product>

<hr>
<p><input type="text" [(ngModel)]="imgParent"></p>
<app-img (loaded)="onLoaded($event)" [img]="imgParent"></app-img>

<hr/>
<h1>Formulario</h1>

<form (ngSubmit)="onRegistro()" #myForm="ngForm">
  <div class="input-group">
      <label for="name">Nombre</label>
      <input type="text" id="name" name="name" [(ngModel)]="registro.name" required />
      <p>Mensaje Error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input  type="email" id="email" name="email" [(ngModel)]="registro.email" required />
    <p>Mensaje Error</p>
  </div>
  <div class="input-group">
    <label for="password">Email</label>
    <input  type="password" id="password"  name="password"[(ngModel)]="registro.password" required />
    <p>Mensaje Error</p>
  </div>

  <div>
      <button [disabled]="myForm.invalid" type="submit">Registrar</button>

      <button type="button">Accion</button>
  </div>
</form>

<hr/>
<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="persona.nombre">
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid' : nameInput4.invalid
  }"
  />
<p class="message-error" [class.invalid]="nameInput4.invalid">

  El campo es requerido
</p>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color':box.background,
      'display':'block'

    }"></div>
  </div>
</div>

<hr/>
<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="persona.nombre" >
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es Requerido
</p>
<label >Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="persona.nombre" >
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>

<div class="styles">
  <div>
    <input type="text"  [(ngModel)]="widthImg" >
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="persona.avatar" >
  </div>
</div>

<hr/>
<h1>*ngSwitch</h1>
<input type="text" required  [(ngModel)]="persona.nombre"/>

<div [ngSwitch]="persona.nombre">

  <p *ngSwitchCase="'Regina'">Soy ReginaBB</p>

  <p *ngSwitchCase="'Dianelly'">Soy Dianelly</p>

  <p *ngSwitchDefault>No hay nombre</p>

</div>


<hr>
<h1>*ngFor Objetos</h1>
<div class="products--grid">
  <div *ngFor="let producto of productos">
    <img [src]="producto.image" alt="image" >
    <h2>{{producto.price}}</h2>
    <p>{{producto.nombre}}</p>
  </div>
</div>


<hr/>
<h1>*ngFor</h1>
<input type="text" required  [(ngModel)]="newNombre"/>
<button (click)="agregarNombre()">Agregar nombre</button>

<ul>
  <li *ngIf="nombres.length === 0"> No hay nombres</li>
  <li *ngFor="let nombre of nombres; index as i ">
   {{i}} {{nombre}}
   <button (click)="eliminarNombre(i)">Eliminar</button>

  </li>
</ul>

<hr/>
<h1>*ngIf</h1>
<input type="text" required  [(ngModel)]="persona.nombre"/>
<p *ngIf="persona.nombre === 'Regina'">Soy ReginaBB</p>
<p *ngIf="persona.nombre === 'Dianelly' && persona.edad === 18; else myBlock">Soy Dianelly</p>
<ng-template #myBlock>
  <p>Bloque de Else</p>
</ng-template>


<hr/>
<h1>NgModel</h1>
<p>Nombre {{persona.nombre}}</p>
<input type="text" required #nameInput="ngModel"  [(ngModel)]="persona.nombre"/>
<p>Valido: {{nameInput.valid}}</p>

<p>Edad {{persona.edad}}</p>
<input type="number" max="18" min="10" required #edadInput="ngModel"  [(ngModel)]="persona.edad"/>
<p>Valido: {{edadInput.valid}}</p>


<hr/>
<h1>Eventos</h1>
<button [disabled]="btnDisabled" >Enviar</button>
<button (click)="toggleButton()">Toggle Button  </button>
<p>Edad {{persona.edad}}</p>
<button (click)="incrementarEdad()">Edad ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<p>Nombre {{persona.nombre}}</p>
<input type="text" [value]="persona.nombre" (keyup)="cambioNombre($event)">


<hr/>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="persona.nombre">
<progress max="100" [value]="persona.edad"></progress>
<img width="100" [src]="persona.avatar" >



<hr/>
<h1>Hola Mudo</h1>

<h2>{{'Bienvenidos - '.repeat(5)}}</h2>


<h3>Hola {{nombre}}</h3>


<img  width="200" src={{img}} alt="image"> -->
